body {
    height: 100%;
    background-image: linear-gradient(white, blue);

    overflow-y: hidden;
}

.wrapper {
    display: flex;
    gap: 20px;

}

form {
    display: grid;
    grid-template-columns: 100px 1fr;

    gap: 10px;
}

input[type=submit] {
    grid-column: span 2;
}




.guestbookInput {
    width: 300px;
}

.guestbookEntry {
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.userName {
    font-size: 1.5rem;
}

.messagesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}